<!DOCTYPE HTML>
<!--
	Eventually by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->

<html>
	<head>
		<title>ViChill!</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		
		<link rel="stylesheet" href="css/main.css" />
	</head>
	<body class="is-preload">

		<!-- Header -->
			<header id="header">
				<h1>ViChill!!!</h1>
				<p>ViChill is a simple to use video caliing app with many other features included <br />
				You can a create a room with just one click and chill with your friends...<br />
				You can join/create more than one room in same system. <br />
				You can also join video meeting in any room but make sure to not join simultaneously in more than one room to avoid technical problems. <br />

				We are not saving any data from you so you can enjoy freely :) :)

			</header>

			<a href="meet"> <button type="submit" id="create"> Create A Room </button> </a> 

	
		
		<!-- Scripts -->
		<script src="js/main.js"></script>
			

	</body>
</html>